nav{
    padding: 20px;
    font-size: 16px;
}
nav :hover{
    color: white;
    background-color: #0096FF;
}
.nav-item {
    text-decoration: none;
    transition: 0.3s;
    padding: 20px;
    font-weight: bold;
    font-size: 16pt;
}

.nav-item .nav-link:hover {
    background-color: #0096FF;
    color:white;
}

.ada_name{
    font-weight: bold;
    font-size:20pt;
}

a.see_more {
    /* float: right; */
}
